.button {
  text-decoration: none;
  transition: all 235ms ease-in-out;
  padding: 13px 30px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: solid white;
  font-size: xx-large;
  font-weight: bold;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

@media only screen and (max-width: 300px) {
  .button {
    padding: 8px 10px;
  }
}

@media only screen and (min-width: 1400px) {
  .button {
    padding: 9px 20px;
    font-size: large;
  }
}
@media only screen and (min-width: 2000px) {
  .button {
    padding: 9px 20px;
    font-size: xx-large;
  }
}
