.button {
  text-decoration: none;
  transition: all 235ms ease-in-out;
  padding: 10px 30px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: solid white;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgb(130, 0, 0);
  width: 20rem;
  height: 2.2rem;
}

.button.active {
  background-color: rgb(146, 50, 50);
}
.buttonSmall {
  text-decoration: none;
  transition: all 235ms ease-in-out;
  padding: 7px 30px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: solid white;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgb(130, 0, 0);
  width: 10rem;
  height: 2.2rem;
}
.buttonSmall.active {
  background-color: rgb(146, 50, 50);
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: scale(1.02);
  transition-duration: 0s;
  background-color: rgb(146, 50, 50);
}

.button:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 2px 8px 4px -6px;
  background-color: rgb(146, 50, 50);
}

.buttonSmall:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: scale(1.02);
  transition-duration: 0s;
  background-color: rgb(146, 50, 50);
}

.buttonSmall:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 2px 8px 4px -6px;
  background-color: rgb(146, 50, 50);
}

@media only screen and (max-width: 300px) {
  .button {
    padding: 8px 10px;
  }
}

@media only screen and (min-width: 1400px) {
  .button {
    padding: 6px 20px;
    font-size: large;
  }
}
@media only screen and (min-width: 2000px) {
  .button {
    padding: 9px 20px;
    font-size: xx-large;
  }
}
