.textField {
  font-size: 1rem;
  text-align: center;
  padding: 3%;
  font-weight: bold;
  color: white;
}

@media only screen and (min-width: 600px) {
  .textField {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1400px) {
  .textField {
    font-size: 1.5rem;
  }
}
