.CategoriesBar {
  display: grid;

  grid-template-columns: 1fr;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;

  row-gap: 0.4rem;
  padding: 0.4rem;
  background-color: rgb(231, 231, 231);
}
#categoriesTitle {
  display: flex;
  justify-content: center;
  margin: 1rem;
  font-size: 2.5rem;
  color: white;
}

.linkWrapper {
}
.Link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 90%;

  text-decoration: none;

  transition: all 235ms ease-in-out;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: solid white;

  font-size: xx-large;
  font-weight: bold;
  color: black;
  background-color: rgb(255, 255, 255);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.linkContainer {
}

.Link:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.Link:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
@media only screen and (max-width: 300px) {
  #categoriesTitle {
    font-size: 2rem;
  }
  .Link {
    font-size: x-large;
  }
}

@media only screen and (min-width: 600px) {
  .CategoriesBar {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .Link {
    font-size: x-large;
  }
  #categoriesTitle {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1400px) {
  .CategoriesBar {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #categoriesTitle {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 3.5rem;
  }
  .Link {
    font-size: x-large;
    height: 50px;
    width: 90%;
  }
}
@media only screen and (min-width: 2000px) {
  .CategoriesBar {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #categoriesTitle {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 5rem;
  }
  .Link {
    font-size: xx-large;
  }
}
