.CategoriesBar {
  display: grid;

  grid-template-columns: 1fr;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;

  row-gap: 0.4rem;
  padding: 0.4rem;
  background-color: rgb(36, 0, 165, 0.5);
  border: 2px solid rgb(5, 0, 54);
}
#categoriesTitle {
  display: flex;
  justify-content: center;
  margin: 1rem;
  font-size: 2.5rem;
  color: white;
}

.linkWrapper {
}
.Link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 90%;

  text-decoration: none;

  transition: all 235ms ease-in-out;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: solid rgb(255, 255, 255);
  border-width: 2px;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(132, 0, 0);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 20px;
}

.linkContainer {
}

.Link:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
  transform: scale(1.02);
  transition-duration: 0s;
  background-color: rgb(146, 50, 50);
}

.Link:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
  background-color: rgb(146, 50, 50);
}
@media only screen and (max-width: 300px) {
  #categoriesTitle {
    font-size: 2rem;
  }
  .Link {
    font-size: x-large;
  }
}

@media only screen and (min-width: 600px) {
  .CategoriesBar {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .Link {
    font-size: x-large;
  }
  #categoriesTitle {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1400px) {
  .CategoriesBar {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #categoriesTitle {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 2rem;
  }
  .Link {
    font-size: 1.1rem;
    height: 35px;
    width: 90%;
  }
}
@media only screen and (min-width: 2000px) {
  .CategoriesBar {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #categoriesTitle {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 5rem;
  }
  .Link {
    font-size: xx-large;
  }
}
