.sortForm {
  display: flex;
  flex-direction: column;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  align-items: center;
  padding-left: 5%;
}
#sortLabel {
  font-size: 1.8rem;
  color: white;
  width: 350px;
}
#sortSelect {
  margin: 1vw;
  font-size: 2rem;
  color: white;
  border-radius: 20px;
  height: 2rem;
  width: 12rem;
  padding-left: 2rem;
  background-color: rgb(33, 33, 147);
}
@media only screen and (max-width: 500px) {
  .sortForm {
    padding-left: 2%;
  }
  #sortLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.8rem;
  }
  #sortSelect {
    margin: 1vw;
    font-size: 2rem;
    padding: 1vw;
  }
}

@media only screen and (min-width: 600px) {
  .sortForm {
  }
  #sortLabel {
    font-size: 1.6rem;
  }
  #sortSelect {
    margin: 1vw;
    font-size: 1.4rem;
    padding: 0.7vw;
  }
}

@media only screen and (min-width: 1400px) {
  #sortLabel {
    font-size: 1.2rem;
  }
  #sortSelect {
    margin: 1vw;
    font-size: 1.4rem;
    padding: 0rem;
    padding-left: 0.3rem;
  }
}
@media only screen and (min-width: 2000px) {
  #sortLabel {
    font-size: 1.8rem;
    width: 500px;
  }
  #sortSelect {
    font-size: 1.8rem;
  }
}
