#hasVoted {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
  padding-bottom: 5%;
}
#loginToVote {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}
.thumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#votes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}

@media only screen and (min-width: 600px) {
  #loginToVote {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1400px) {
  #loginToVote {
    font-size: 2rem;
  }
  #hasVoted {
    font-size: 2.2rem;
  }
}
