.selectionDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media only screen and (max-width: 300px) {
  .selectionDiv {
  }
}
@media only screen and (min-width: 500px) {
  .selectionDiv {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1400px) {
}
